.episodeTitle {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #deb66b;
}

.episodeButtonDiv {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fileAndButtons {
  display: flex;
  max-width: 632px;
  background-color: #dddddd;
  padding: 0px 15px 15px 15px; 
  gap: 30px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 18px;
  margin-bottom: 50px;

  .divSinopse{
    flex: 2 0 350px;
  }
    .pSinopse {
      text-align: left;
      color: #deb66b;
      margin-left: 13px;
    }
}


.divFileUrl {
  display: flex;
  .btn {
    display: inline;
    border: none;

    &:hover {
      background-color: transparent;
    }
  }

  .linkStyleFile {
    display: flex;
    align-items: center;
    color: #deb66b;
    text-decoration: none;
  }

  .pdfviewer {
    width: 40px;
    filter: brightness(0) saturate(100%) invert(75%) sepia(52%) saturate(359%) hue-rotate(357deg) brightness(91%) contrast(90%);
  }

  &:hover {
    filter: brightness(90%);
    transition: 0.2s;
    scale: 104%;
  }
}

.arrowImg {
  width: 25px;
  filter: brightness(0) saturate(100%) invert(75%) sepia(52%) saturate(359%) hue-rotate(357deg) brightness(91%) contrast(90%);
}

.episodeButton {
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 40px;
  cursor: pointer;
  transition: 0.4s;
  color: #deb66b;

  &:hover {
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 45px;
    text-shadow: 6px 4px 4px black;
    filter: brightness(90%);
  }

  &:disabled {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  &:active {
    outline: none;
    border: none;
    box-shadow: none;
  }

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }
}
.pSemDownload{
  margin-left: 12px;
}
.playerWrapper {
  border: 2px solid #E8E8E8; 
  border-radius: 18px;     
  overflow: hidden;         
  position: relative;
  width: 630px;              
  height: 360px;             
}
.player {
  max-width: 100%;
}

@media(max-width: 991px){
  .fileAndButtons{
    justify-content: center;
  }
}
@media(max-width: 675px){
  .playerWrapper {
    width: 100%;    
  }

}