.fileAndButtons {
  display: flex;
  max-width: 850px;
  width: 100%;
  background-color: #dddddd;
  padding: 15px 25px;
  gap: 12px;
  flex-wrap: wrap;
  border-radius: 18px;
  flex: 1 0 500px;


  .pSinopse {
    text-align: left;
    color: black;
  }
}


.divFileUrl {
  display: flex;
  color: black;

  .linkStyleFile {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
  }

  .pdfviewer {
    width: 40px;
    filter: brightness(0) saturate(100%) invert(75%) sepia(52%) saturate(359%) hue-rotate(357deg) brightness(91%) contrast(90%);
  }


}

.arrowImg {
  width: 25px;
  filter: brightness(0) saturate(100%) invert(75%) sepia(52%) saturate(359%) hue-rotate(357deg) brightness(91%) contrast(90%);
}



// VIDEO-PLAYER FUNCTIONALITY 

.mainDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  .duration_container {
    display: flex;
    align-items: center;
    gap: 4.5px;
    color: white;
    flex-grow: 1;
  }

  .div_episode_list {
    max-width: 300px;
    margin: 100px auto 0px auto;

    .progress {
      margin-bottom: 12px;
    }
  }

.iframe{
  pointer-events: none;
}
  .playerWrapper {
    position: relative;
    max-width: 850px;
    background-color: black;
    z-index: 1;
    .divProgressBar {
      &:hover {
        .progress_bar[type="range"]::-webkit-slider-thumb {
          width: 15px;
          height: 15px;
        }
      }
    }

    &:hover {

      .video_player_control,
      .video_player_title,
      .divProgressBar {
        opacity: 1
      }
    }

    .video_player_title {
      position: absolute;
      color: white;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      min-height: 10vh;
      background: linear-gradient(to bottom, rgba(17, 17, 17, 0.788), rgba(255, 255, 255, 0));
      width: 100%;
      padding: 12px;
      opacity: 0;
      transition: opacity 280ms ease-in-out;
    }

    .divProgressBar {
      width: 100%;
      height: 2vh;
      position: absolute;
      bottom: 40px;
      padding: 0 20px;
      margin: 0;
      opacity: 0;
      transition: opacity 280ms ease-in-out;
      z-index: 100000;
    }
  }

  .progress_bar[type="range"] {
    cursor: pointer;
  }

  // .progress_bar[type="range"]::-webkit-slider-thumb {
  // }

  .video_player_control {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 30px 20px 10px 20px;
    width: 100%;
    z-index: 500;
    min-height: 7vh;
    background: linear-gradient(to top, rgba(17, 17, 17, 0.788), rgba(236, 236, 236, 0));
    gap: 1.0rem;
    bottom: 0px;
    opacity: 0;
    transition: opacity 280ms ease-in-out;

    .control_btn {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;

      &:hover {
        background-color: none;
        opacity: 0.75;
      }
    }
  }
}

// volume 
// .volume_bar[type="range"] {
//   /* Trilha do slider */
//   &::-webkit-slider-runnable-track {
//   }

//   /* Polegar do slider */
//   &::-webkit-slider-thumb {
//   }
// }

.div_volume_bar {
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    .volume_bar {
      width: 100px;
      transform: scaleX(1);
      cursor: pointer;

    }
  }

  .volume_bar {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  }
}

.volume_container {
  &:hover {
    cursor: pointer;
  }
}


@media(max-width: 991px) {
  .fileAndButtons {
    justify-content: center;
  }
}

@media(max-width: 675px) {
  .playerWrapper {
    width: 100%;
  }

}