.pStyle {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  padding-top: 20px;
  color: black;
}
.p{
  color: black;
  font-weight: 500;
  font-size: 22px;
}


@media (max-width: 451px){
  .pStyle{
    font-size: 15px;
  }
}