.courseInfo{
    display: flex;
    flex-direction: column;
    padding-top: 10px;

}
.interactionImages {
    filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(7436%) hue-rotate(124deg) brightness(103%) contrast(99%);
    width: 25px;
    &:hover{
        opacity: 0.75;
    }
}
.interactionImagesTrue{
    width: 25px;
    &:hover{
        opacity: 0.75;
    }
}
.interactions {
    display: flex;
    gap: 10px;
    margin: 20px 0px 0px 10px;
    cursor: pointer;
    padding: 11px 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.divBtnImg{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.courseBtnExer{
    @extend .courseBtn;
}
.courseBtn {
    width: 190px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #deb66b;
    .buttonImg {
        width: 20px;
        margin: 0 0 0 10px;
        padding: 0;
        filter: invert(86%) sepia(89%) saturate(5326%) hue-rotate(308deg) brightness(94%) contrast(84%);
    }

    &:hover {
        font-size: 26px;
        background-color: #F0C36E;
        color: black;
        border: none;
        transition: 0.4s;
        font-weight: bolder;

        .buttonImg {
            filter: invert(0%) sepia(92%) saturate(31%) hue-rotate(76deg) brightness(91%) contrast(306%);
        }

        transition: 0.4;
    }
}

.courseTitle{
    font-size: 42px;
    font-weight: bold;
}
.courseDescription{
    width: 680px;
}

.episodeInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 50px 15px;
    margin-top: 50px;
    background-color: #BBBBBB;
    height: 100%;
    border-radius: 30px;

}
.titleAndDescription{
    display: flex;
    align-items: center;
    gap: 10px;

}

@media (max-width: 767px){
    .courseInfo{
        justify-content: center;
        text-align: center;
        gap: 20px;
    }
    .courseDescription{
        width: 95%;
        display: block;
        margin: 0 auto;
    }
    .divBtnImg{
        justify-content: center;
    }
    .episodeInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
@media (max-width: 620px){
    .episodeInfo{
        width: 95%;
    }
}
@media(max-width: 430px){
    .courseTitle{
        font-size: 30px;
    }

}