.sectionBackground{
    background-image: linear-gradient(to bottom, #8b8b8b1a, #0c0c0c), url('../../public/homeNoAuth/backgroundBel.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}