.sectionBackground{
    background-image: linear-gradient(to bottom, #dadada1a, #0c0c0c), url('../../public/capa-fundo-home-no-auth.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 90vh;
    width: 100%;
}

@media (max-width: 463px){
    .sectionBackground{
        min-height: 100%;
    }
}