.container{
    padding: 48px 0px;
    height: 75vh;
}
.main {
    background-color: #E8E8E8;
}

.formTitle {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.form {
    width: 450px;
    border: 2px solid black;
    padding: 50px;
    margin: 0 auto;
    box-shadow: -8px 10px;
}

.formPasswordGroup {
    position: relative;
}
.forgotPassword {
    position: absolute;
    bottom: -33px;
    text-decoration: none;
    color: black;
}

.formBtn {
    display: block;
    margin: 60px auto 0 auto;
    width: 180px;
    border-radius: 8px;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: #F0C36E;
    box-shadow: -2px 4px black;

    &:hover {
        background-color: #F0C36E;
        color: black;
        transition: 0.3s;
    }
}


.label {
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
}

.input {
    box-shadow: -2px 4px black;
    border-color: #b59863d4;

    &::placeholder {
        color: #000000b9;
    }

    &:focus {
        border-color: #deb66b;
        color: black;
        box-shadow: none;
    }
}
.password_wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .visibility{
        position: absolute;
        right: 12px;
        &:hover{
            cursor: pointer;
            opacity: 0.75;
        }
    }
}
@media (max-width: 767px){
    .formTitle{
        font-size: 28px;
    }
    .form{
        width: 95%;
    }
}
@media (max-width: 468px){
    .formTitle{
        font-size: 18px;
    }
    .form{
        width: 90%;
    }
}