.principal {
    width: 450px;
    border: 2px solid black;
    padding: 50px;
    margin: 0 auto;
    box-shadow: -8px 10px;
}

.input {
    border: 1px solid black;
    margin: 0px 0px 25px 0px;
    padding-left: 40px;
}
.emailWrrapper {
    position: relative;
    .emailIcon {
        position: absolute;    
        bottom: 7px;
        left: 10px;
    }
}
.submitButton {
    display: block;
    margin: 0px auto 20px auto;
    display: block;
    width: 180px;
    border-radius: 8px;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: #F0C36E;
    box-shadow: -2px 4px black;

    &:hover {
        background-color: #F0C36E;
        color: black;
        transition: 0.3s;
    }
}