.backgroundContainer {
    background-color: #E8E8E8;
    position: relative;
}


.apresentation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.divAnuncio {
    width: 400px;
    text-align: center;

    .btnMatricula {
        background: #CC202C;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: -2px 4px black;

        &:hover {
            &:hover {
                scale: 110%;
                transition: 0.3s;
            }
        }
    }

    .imgAnuncio {
        box-shadow: -6px 8px black;
        width: 100%;
        margin: 30px 0px;
        border: 5px solid #CC202C;
        border-radius: 15px;
    }
}

.wrapper {
    height: 342px;

    .reactPlayer {
        border: 5px solid #CC202C;
    }
}

.pWrapper {
    text-transform: uppercase;
    margin-bottom: 6px;
    margin-right: 20px;
    display: inline-block;
}

.media {
    width: 600px;
    padding-top: 12px;
}

.imgFooter {
    margin-right: 5px;
    box-shadow: 1px 0.5px rgb(116, 116, 116);
    border-radius: 50%;
    &:hover {
        transform: translateX(2px) translateY(-2px);
        scale: 105%;
        transition: 0.3s;
    }
}

.duvidas {
    position: fixed;
    right: 2%;
    bottom: 6%;
    z-index: 4;

    .imgDuvidas {
        width: 62px;
        filter: grayscale(0%);

        &:hover {
            transition: 0.4s;
            filter: grayscale(50%);
            scale: 105%;
        }
    }
}


.separator {
    background: #DEB66B;
    height: 100%;
    margin: 80px auto;
    padding: 15px 0px 30px 0px;
    align-items: center;
    box-shadow: 0px 0px 80px 3px black;
    display: block;
    text-align: center;
    border: 5px solid #575757;

    .capa {
        margin-right: 20px;
        width: 200px;
        z-index: 3;
        border: 5px solid #CC202C;
        box-shadow: 0px 5px 15px 1px rgba(255, 255, 255, 0.842);
        display: inline-block;

        &:hover {
            scale: 200%;
            margin: 0 auto;
            transition: 0.4s;
            box-shadow: none;
        }
    }

    .pSeparator {
        text-transform: uppercase;
        font-size: 28px;
        text-align: center;
        line-height: 34px;
        display: block;
        font-weight: bold;
        width: 450px;
        padding: 10px 0px;
        margin: 15px auto;
    }
}

.divTabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto 120px auto;
    border: 5px solid #DEB66B;
    width: 500px;
    height: 720px;
    border-radius: 30px;
    box-shadow: -4px 6px black;

    .btnMatriculaPropaganda {
        background: #DEB66B;
        margin-top: 20px;
        color: black;
        border: none;
        font-weight: 600;
        text-transform: uppercase;
        box-shadow: -2px 4px black;

        &:hover {
            transition: 0.3s;
            scale: 110%;
        }
    }

    .pPropaganda {
        text-align: center;
        width: 430px;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 12px;
    }

    .table {
        .trTitulo {
            display: block;
            margin: 0 auto;
        }

        .tbody {
            width: 300px;
        }

        .thTitulo {
            padding: 15px 0px 0px 0px;
            text-align: center;
            display: block;
            font-size: 18px;
            margin: 0 auto;
            font-weight: bolder;
        }

        .thPreco {
            font-size: 42px;
            text-align: center;
            display: block;
            margin: 0;
            padding: 0;
            margin-bottom: 15px;

            .thPrecoSpan {
                font-size: 18px;
            }
        }

        .trDiv {
            display: flex;
            padding: 5px;
            align-items: center;
            width: 400px;
            text-align: left;

            .checkImg {
                width: 20px;
                margin-right: 20px;
                filter: brightness(0) saturate(100%) invert(100%) sepia(24%) saturate(6178%) hue-rotate(312deg) brightness(94%) contrast(85%);
            }
        }
    }
}

.cursosOfertados {
    padding: 30px 0px;

    .pCursosOfertados {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 20px;
    }
}

@media (max-width: 1094px) {
    .divAnuncio {
        padding: 20px;

        .imgAnuncio {
            width: 95%;
        }
    }

    .wrapper {
        width: 600px;
        margin-right: 20px;
    }

}

@media (max-width: 974px) {
    .wrapper {
        .reactPlayer {
            width: 100%;
        }
    }

    .separator {
        width: 100%;
        padding: 130px;

        .pSeparator {
            width: 95%;
            font-size: 16px;
            line-height: 23px;
        }
    }
}

@media (max-width: 922px) {
    .apresentation {
        flex-wrap: wrap;
        margin-bottom: 150px;
    }
}

@media(max-width: 664px) {
    .duvidas {
        .pWrapper {
            font-size: 14px;
        }

        .imgDuvidas {
            width: 48px;
            filter: grayscale(0%);

            &:hover {
                transition: 0.4s;
                filter: grayscale(100%);
            }
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 500px;
        margin-right: 0px;
        text-align: center;

        .reactPlayer {
            width: 100%;
            border: none;

        }
    }

    .separator {
        .capa1 {
            width: 100px;
        }

        .capa2 {
            width: 110px;
        }

        .capa3 {
            width: 120px;
        }
    }

    .media {
        width: 400px;
    }

    .cursosOfertados {
        .pCursosOfertados {
            font-size: 18px;
        }
    }
}

@media (max-width: 552px) {
    .separator {
        margin: 0;
        padding: 40px 0px;

        .pSeparator {
            margin-bottom: 10px;
        }

        height: 100%;
        flex-wrap: wrap;
        flex-direction: column;

        .capa1 {
            width: 150px;
            margin-bottom: 10px;
        }

        .capa2 {
            width: 150px;
            margin-bottom: 10px;

        }

        .capa3 {
            width: 150px;
            margin-bottom: 10px;
        }
    }

    .divTabela {
        width: 95%;

        .table {
            width: 95%;
        }
    }

}

@media(max-width: 472px) {
    .divTabela {
        height: 95%;
        padding: 30px;
        .pPropaganda {
            width: 95%;
            font-size: 18px;
        }

        .table {
            .tbody {
                .trDiv {
                    width: 95%;
                }
            }
        }
    }
}

@media(max-width: 400px){
    .apresentation{
        .media{
            width: 95%;
        }
    }
}