.main {
    // background-image: linear-gradient(to bottom, #353535, black);
    background-color: #E8E8E8;
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    margin-left: 0;
    width: 100%;
}

.formTitle {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.form {
    width: 450px;
    border: 2px solid black;
    padding: 50px;
    margin: 0 auto;
    box-shadow: -8px 10px;
}

.formBtn {
    display: block;
    margin: 60px auto 0 auto;
    width: 180px;
    border-radius: 8px;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: #F0C36E;
    box-shadow: -2px 4px black;

    &:hover {
        background-color: #F0C36E;
        color: black;
        transition: 0.3s;
    }
}

.password_wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .visibility {
        position: absolute;
        right: 12px;

        &:hover {
            cursor: pointer;
            opacity: 0.75;
        }
    }
}

.label {
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
}

.input {
    box-shadow: -2px 4px black;
    border-color: #b59863d4;

    &::placeholder {
        color: #000000b9;
    }

    &:focus {
        border-color: #deb66b;
        color: black;
        box-shadow: none;
    }
}

.inputName {
    @extend .input;

    &::placeholder {
        text-transform: none;
    }
}

.radioGroup {
    padding-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.radioLabel {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    padding: 10px 18px;
    flex: 1 1;
}

@media (max-width: 767px) {
    .radioGroup {
        flex-direction: column;
        align-items: center;
    }

    .radioLabel {
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .formTitle {
        font-size: 28px;
    }

    .form {
        width: 95%;
    }
}

@media (max-width: 468px) {
    .formTitle {
        font-size: 18px;
    }

    .form {
        width: 90%;
    }
}