.main {
    // background-image: linear-gradient(to bottom, #353535, black);
    background-color: #E8E8E8;
}

.formTitle {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.form {
    width: 450px;
    border: 2px solid #DEB66B;
    padding: 50px;
    margin: 0 auto;
    box-shadow: -8px 10px;
}

.formBtn {
    display: block;
    margin: 50px auto 0 auto;
    width: 180px;
    border-radius: 8px;
    border: 1px solid #F0C36E;
    color: black;
    font-size: 20px;
    font-weight: 500;
    background-color: #F0C36E;
    box-shadow: -2px 4px black;

    &:hover {
        background-color: #F0C36E;
        color: black;
        font-weight: bolder;
        transition: 0.3s;

        font-size: 22px;
        scale: 110%;
    }
}

.label {
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
}

.input {
    box-shadow: -2px 4px black;
    border-color: #b59863d4;
    background-color: #DEB66B;
    color: #d6c095f2;

    &::placeholder {
        color: #000000b9;
    }

    &:focus {
        border-color: #deb66b;
        color: black;
        box-shadow: none;
    }
}

.inputName {
    @extend .input;
    text-transform: uppercase;

    &::placeholder {
        text-transform: none;
    }
}

@media (max-width: 767px) {
    .formTitle {
        font-size: 28px;
    }

    .form {
        width: 95%;
    }
}

@media (max-width: 468px) {
    .formTitle {
        font-size: 18px;
    }

    .form {
        width: 90%;
    }
}