.h1Title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}
.main {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  margin-left: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  &.menuOpen {
    margin-left: 250px; // Largura do menu
    width: calc(100% - 250px); // Ajuste a largura restante
  }

  .mainContent {
    padding: 20px 50px;
    width: 100%;
    flex: 1;
  }
}

.ulDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  .liDiv {
    background-color: #e8e8e8;
    border: 1px solid #adadad;
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    flex: 1 1 316px;
    max-width: 316px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // Efeito hover / selecionado
    &:hover {
      background-color: #dcdcdc;
    }
    &.selected {
      background-color: #c2e7ff;
    }

    // Conteúdo interno
    .topRow {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      min-width: 0; // importante para evitar transbordamento

      .folderLi {
        font-size: 2rem;
        flex-shrink: 0; // não deixa o ícone encolher
      }

      .divTextos {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        flex: 1 1 auto;
        min-width: 0;

        .buttonStyle {
          background-color: transparent;
          border: none;
          color: #000;
          text-align: left;
          padding: 0;
          margin: 0;
          font-size: 1rem;
          font-weight: bolder;
          cursor: pointer;

          // Quebra de linha em caso de texto muito longo
          white-space: normal;
          word-wrap: break-word;
        }

        .bottomRow {
          display: flex;
          justify-content: space-between;
          align-items: center;
          min-width: 0;

          p {
            margin: 0;
            font-size: 0.8rem;
            color: #858585de;

            // Permite quebra de linha se for grande
            white-space: normal;
            word-wrap: break-word;
          }
        }
      }
    }
  }

  /* EXEMPLO DE MEDIA QUERIES: 
       Se quiser que, em telas menores, os itens ocupem 100% da largura */

  @media (max-width: 800px) {
    .liDiv {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}
