.h1Title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2rem;
}
.main {
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    margin-left: 0;
    width: 100%;
    &.menuOpen {
        margin-left: 250px; // Largura do menu
        width: calc(100% - 250px); // Ajuste a largura restante
    }

    .mainContent {
        padding: 20px 50px;
    }
}
.ulDiv {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .liDiv {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        border: 1px solid #adadad;
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            opacity: .75;
            background-color: #adadadb0;
            cursor: pointer;
        }

        .linkStyle {
            display: inline-block;
            text-decoration: none;
            color: #000;
            margin-left: 0.5rem;
            max-width: 100%;
            overflow: hidden;

            .fileName {
                margin-top: 5.5px;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%; // Ajuste aqui para garantir que o texto não exceda o contêiner

                &:hover {
                    overflow: visible;
                    white-space: normal;
                }
            }
        }
    }
}
