.h1Title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}

.main {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  margin-left: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.menuOpen {
    margin-left: 250px;
    width: calc(100% - 250px);
  }

  .mainContent {
    padding: 20px 50px;
    flex: 1;
  }
}

.ulDiv {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .liDiv {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    &:hover {
      overflow: visible;
      opacity: 0.75;
      background-color: #adadadb0;
      cursor: pointer;
    }

    .nameTip {
      position: absolute;
      top: 90%;
      padding: 5px 10px;
      z-index: 10000;
      border: 1px solid #ccc;
      background-color: #fff;
      color: #000;
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
      font-size: 0.8rem;
    }

    &:hover .nameTip {
      opacity: 1;
    }

    .linkStyle {
      text-decoration: none;
      color: #000;
      max-width: 100%;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .fileName {
        margin-top: 5.5px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .main {
    .mainContent {
      padding: 20px;
    }
  }
}

@media (max-width: 480px) {
  .main {
    .mainContent {
      padding: 10px;
    }
  }
}