.img{
    width: 720px;
}

.comentario{
    font-size: 16px;
    font-weight: 500;
    color: #F0C36E;
    font-weight: bolder;
}
.titulo{
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
}
.descricao{
    margin: 35px 0 20px 0;
    font-size: 25px;
    font-weight: 500;
    color: #E2D2B4;
    line-height: 36px;
    text-align: center;

}
.form {
    display: flex;
    align-items: center;
    position: relative;
}
.searchbar{
    width: 750px;
    height: 45px;
    border: none;
    border-radius: 20px;
    margin-top: 280px;
}
.searchIcon{
    position: absolute;
    bottom: 5.5px;
    right: 14px;
    cursor: pointer;
}
@media (max-width: 1399px){
    .img{
        width: 500px;
    }
    .descricao{
        font-size: 20px;
        font-weight: 500;
        color: #E2D2B4;
        line-height: 30px;
    }
    .titulo{
        font-size: 40px;
    }
    .searchbar{
        margin-top: 230px;
    }
    .searchIcon{
        margin-top: 230px;
    }
}
@media (max-width: 991px) {
    .titulo{
        font-size: 32px;
    }
    .descricao{
        font-size: 15px;
        margin-top: 10px;
    }
    .searchbar{
        width: 600px;
    }
}
@media (max-width: 767px){
    .titulo{
        font-size: 24px;
    }
    .descricao{
        font-size: 12px;
    }
    .searchbar{
        width: 450px;
    }
    .searchbar{
        margin-top: 145px;
    }
    .searchIcon{
        margin-top: 145px;
    }
}
@media (max-width: 553px){
    .img{
        width: 95%;
    }
    .comentario{
        font-size: 12px;
    }
    .titulo{
        font-weight: bold;
        font-size: 20px;
    }
    .descricao{
        font-size: 10px;
    }
    .searchbar{
        width: 350px;
    }
}
@media (max-width: 463px){
    .comentario{
        font-size: 8px;
    }
    .titulo{
        font-weight: bold;
        font-size: 15px;
    }
    .descricao{
        font-size: 8px;
        padding: 0;
        margin: 0;
    }
    .searchbar{
        width: 250px;
    }
    .searchbar{
        margin-top: 55px;
    }
    .searchIcon{
        margin-top: 55px;
    }
    
}
@media (max-width: 355px){
    .titulo{
        font-weight: bold;
        font-size: 12px;
    }
    .descricao{
        font-size: 6px;
    }
    .searchbar{
        width: 250px;
    }
}