.episodeCard {
    background-color: #F0C36E;
    padding: 20px 0px;
    width: 600px;
    display: flex;
    flex-direction: column;
    height: 120px;
    border-radius: 20px;
    box-shadow: -2px 4px #183153;
    position: relative;
    border: 2px solid #183153;
}
.divFileUrl {
    position: absolute;
    left: 12px;
    bottom: 0;
}
.episodeTitle {
    font-size: 16px;
    font-weight: bold;
    width: 300px;
    margin-left: 20px;
    cursor: pointer;
}

.episodeTimeDiv {
    height: 100px;
    width: 600px;
    display: flex;
    margin-left: 20px;
    cursor: pointer;

    &:hover {
        opacity: .55
    }

    .playIconAndTime {
        display: flex;
        gap: 10px;
    }
}

.checkItem {
    position: absolute;
    right: 20px;
}

.episodeTime {
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.link_file {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 8px 0px 0px 0px;
    gap: 8px;

    .img {
        width: 30px;
    }

    &:hover {
        opacity: .55
    }
}

@media (max-width: 763px) {
    .episodeCard {
        width: 90%;

        .episodeTimeDiv {
            width: 95%;
            .episodeTitle {
                width: 50%;
            }
        }
    }

}

@media (max-width: 575px) {
    .episodeCard {
        padding-left: 15px;
    }
}

@media (max-width: 487px) {
   .episodeCard {
    height: 100%;
    .episodeTimeDiv{
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        .episodeTitle{
            margin: 0;
            padding: 0;
            width: 100%;
        }
    
    }
   }
}

@media (max-width: 403px) {
    .episodeCard {
        height: 95%;
        width: 95%;
        gap: 20px;
        .episodeTimeDiv{
            margin: 0 auto;
        }
    }
}