.searchCard {
    width: 300px;
    border: 2px solid #4C4D4C;;
    transition: 0.4s;
    cursor: pointer;
    margin-left: 12px;
    overflow: hidden;
    text-overflow: clip;
    z-index: 10000;
    background-color: #E8E8E8;
    &:hover {
      background-color: #ccc;
    }
  }
  .linkStyle{
    text-decoration: none;
  }
  .searchCardDescription{
    text-decoration: none;
    text-align: justify;
    color: #4C4D4C;
    font-size: 0.9rem;
    height: 150px;
    overflow-y: scroll;
    width: 260px;
    margin: 0 auto;
    padding: 0px 10px 20px 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    scrollbar-width: none;
  }
  .searchCardImg {
    width: 100%;
    height: 190px;
  }
  
  .searchCardTitle {
    color: black;
    font-weight: bold;
    font-family: 'Bebas neue', sans-serif;
    letter-spacing: 2px;
    font-size: 1.1rem;
    padding: 8px 16px;
    max-height: 40px;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  @media (max-width: 350px){
    .searchCard {
      margin: auto;
      width: 95%;
    }
  }