.backgroundContainer {
    background-color: #deb66b;
    display: flex;
    justify-items: center;
    padding: 10px;
}

.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.tituloNav {
    font-weight: bold;
    font-size: 36px;
    margin-left: 10px;
    margin-top: 5px;
}

.divLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.imgLogo {
    width: 60px;
}

.btnAssine {
    width: 130px;
    height: 38.5px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
    font-weight: 500;
    margin-right: 9px;

    &:hover {
        background-color: #F0C36E;
        color: black;
        border: none;
        transition: 0.4s;
        font-weight: bolder;
    }
}
.btnPrecos{
    width: 130px;
    height: 38.5px;
    margin-right: 9px;
    background-color:rgba(255, 255, 255, 0);
    border-color: white;
    &:hover {
        background-color: #F0C36E;
        color: black;
        border: none;
        transition: 0.4s;
        font-weight: bolder;
    }
}
.btnSouNotaDez {
    width: 130px;
    height: 38.5px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    border: 1px solid white;
    &:hover {
        background-color: #F0C36E;
        color: black;
        border: none;
        transition: 0.4s;
        font-weight: bolder;
    }
}

.fixingIconInMiddle {
    display: inline-flex;
    vertical-align: middle;
    padding-left: 5px;
}

@media (max-width: 991px) {
    .containerHeader {
        justify-content: center;
        margin-bottom: 8px;
    }
    .divBtn {
        margin: 16px 0;
    }
}

@media (max-width: 767px) {
    .containerHeader {
        justify-content: center;
        flex-direction: column;
    }
    .btnPrecos{
        width: 120px;
        font-size: 14px
    }
    .btnAssine {
        font-size: 14px;
        width: 120px;
    }
    .btnSouNotaDez {
        border: 1px solid white;
        font-size: 14px;
        width: 120px;
    }
}

@media (max-width: 463px) {
    .containerHeader {
        justify-content: center;
    }
    .divLogo{
        display: none;   
    }
    .tituloNav{
        font-size: 28px;
    }
    .btnPrecos{
        width: 120px;
        font-size: 14px;
    }
    .btnSouNotaDez {
        font-size: 14px;
        width: 120px;
    }

    .btnAssine {
        display: none;
    }
}

@media (max-width: 409px) {
    .backgroundContainer {
        display: none;
    }
}