.bgdiv{
    background-color: #e6ba69;
    padding: 10px;

}
.containerHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.imgLogo {
    width: 100px;
}

.btnAssine {
    width: 115px;
    height: 36.5px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
    font-weight: bold;
    margin-right: 9px;

    &:hover {
        background-color: #F0C36E;
        color: black;
        border: none;
        transition: 0.4s;
        font-weight: bolder;
    }
}
.btnPrecos{
    width: 115px;
    height: 36.5px;
    margin-right: 9px;
    font-weight: bold;
    background-color:rgba(255, 255, 255, 0);
    border-color: white;
    font-size: 12px;
    &:hover {
        background-color: #F0C36E;
        color: black;
        border: none;
        transition: 0.4s;
        font-weight: bolder;
    }
}
.btnSouNotaDez {
    width: 115px;
    height: 36.5px;
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: bold;

    border: 1px solid white;
    &:hover {
        background-color: #F0C36E;
        color: black;
        border: none;
        transition: 0.4s;
        font-weight: bolder;
    }
}

.fixingIconInMiddle {
    display: inline-flex;
    vertical-align: middle;
    padding-left: 5px;
}

@media (max-width: 991px) {
    .imgLogo{
        margin-right: 15px;
    }
    .containerHeader {
        justify-content: center;
    }
    .divBtn {
        margin: 16px 0;
    }
}

@media (max-width: 767px) {
    .containerHeader {
        justify-content: center;
        flex-direction: column;
    }
    .btnPrecos{
        width: 120px;
        font-size: 14px
    }
    .btnAssine {
        font-size: 14px;
        width: 120px;
    }
    .btnSouNotaDez {
        border: 1px solid white;
        font-size: 14px;
        width: 120px;
    }
}

@media (max-width: 463px) {
    .bgdiv{
        background-color: transparent;
    }
    .containerHeader {
        justify-content: center;
    }
    .divLogo{
        display: none;   
    }
    .tituloNav{
        font-size: 28px;
    }
    .btnPrecos{
        width: 120px;
        font-size: 14px;
        background-color: #deb66b;
    }
    .btnSouNotaDez {
        font-size: 14px;
        width: 120px;
        background-color: #deb66b;
    }

    .btnAssine {
        display: none;
    }
}

@media (max-width: 409px) {
    .backgroundContainer {
        display: none;
    }
}