$menu-width: 250px;
$menu-bg: #f8f9fa;
$menu-text-color: #333;
$menu-hover-color: #d1d1d1;
$menu-item-hover-bg: #d1d1d1;
$menu-transition: 0.3s ease-in-out;
$dropdown-bg: #f8f9fa;
$dropdown-text-color: #000;

.menuContainer {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 500000;

    // Botão do hamburger
    .menuButton {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: fixed;
        top: 30px;
        left: 10px;
        z-index: 2000;

        svg {
            font-size: 32px;
            color: black;
        }
    }

    // Logo
    .menuLogo {
        .newLogo {
            position: fixed;
            top: 10px;
            left: 60px;
            z-index: 2000;

            .divLogo {
                .imgLogo {
                    width: 160px;
                    transition: width 0.4s;
                }
            }
        }

        .linkStyle {
            .divLogo {
                .imgLogo {
                    width: 160px;
                    margin-left: 25px;
                    transition: width 0.5s;
                }
            }

            @media (max-width: 400px) {
                .divLogo {
                    .imgLogo {
                        width: 120px;
                        margin-left: 25px;
                        transition: width 0.5s;
                    }
                }
            }

            @media (max-width: 480px) {
                .divLogo {
                    .imgLogo {
                        display: none;
                    }
                }
            }
        }
    }

    // Menu lateral principal
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: $menu-width;
        background-color: $menu-bg;
        overflow: visible;
        transform: translateX(-100%);
        transition: transform $menu-transition;
        z-index: 1000;
        padding-top: 110px;
        box-shadow: 1px 1px 20px rgba(56, 56, 56, 0.2);

        &.visible {
            transform: translateX(0);
        }

        &.hidden {
            transform: translateX(-100%);
        }

        @media (max-width: 500px) {
            width: 100vw;
        }

        .nav {
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style: none;
                padding: 0;
                margin: 25px auto;

                li {
                    display: flex;
                    align-items: center;
                    transition: background 0.3s;
                    padding: 16px 25px;
                    cursor: pointer;

                    &:hover {
                        background: lighten($menu-hover-color, 5%);
                    }
                }
            }
        }
    }
}

// Dropdown do primeiro nível (pai dos submenus)
.menuItemWithDropdown {
    position: relative;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        background-color: $menu-item-hover-bg;
    }

    .dropdownMenu {
        /* Posiciona o dropdown principal de forma independente */
        position: absolute;
        top: -38%;
        left: 100%;
        background: $dropdown-bg;
        min-width: 160px;
        z-index: 2001;
        list-style: none;
        padding: 10px 0;
        box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.2);

        @media (max-width: 500px) {
            left: 0;
            top: 61%;
            box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
        }

        .dropdownItem {
            padding: 12px 20px;
            color: $dropdown-text-color;
            cursor: pointer;
            transition: background 0.4s;
            text-align: left;
            border-bottom: 0.5px solid rgb(0, 0, 0, 0.2);

            &:hover {
                background: lighten($menu-hover-color, 5%);
            }
        }
    }
}

.dropdownFundamental {
    position: absolute;
    top: -17.5%;
    left: 100%;
    background: $dropdown-bg;
    min-width: 160px;
    z-index: 2002;
    list-style: none;
    padding: 10px 0;
    box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.2);

    @media (max-width: 500px) {
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
        top: -22%;
    }

    .dropdownItem {
        padding: 12px 20px;
        color: $dropdown-text-color;
        cursor: pointer;
        transition: background 0.4s;
        text-align: left;
        border-bottom: 0.5px solid rgb(0, 0, 0, 0.2);

        &:hover {
            background: lighten($menu-hover-color, 5%);
        }
    }
}

.dropdownMedio {
    position: absolute;
    top: 40.3%;
    left: 100%;
    background: $dropdown-bg;
    min-width: 160px;
    z-index: 2002;
    list-style: none;
    padding: 10px 0;
    box-shadow: 6px 0px 12px rgba(0, 0, 0, 0.2);

    @media (max-width: 500px) {
        box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
        top: 27%;
    }

    .dropdownItem {
        padding: 12px 20px;
        color: $dropdown-text-color;
        cursor: pointer;
        transition: background 0.4s;
        text-align: left;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);

        &:hover {
            background: lighten($menu-hover-color, 5%);
        }
    }
}