

.selectBox {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  padding: 8px 18px;
  font-size: 1rem;
  border-radius: 6px;
  background-color: #D42428;
  color: white;
  outline: none;
  cursor: pointer;


}