.divMain {
    background-size: cover;
    background-position: center;
    height: 750px;

    .containerStyle {
        padding: 20px 50px;

        .title {
            font-size: 6rem;
            font-family: "Bebas Neue", sans-serif;
            letter-spacing: 2px;
            font-weight: bold;
            line-height: 90px;
            max-width: 800px;
            width: 100%;
            color: #D42428;
            text-transform: uppercase;
            text-shadow: 3.5px 6px #7D7D7D;

            @media (max-width: 512px) {
                    font-size: 3rem;
                    width: 95%;
                    line-height: 65px;
            }
        }

        .description {
            max-width: 600px;
            width: 100%;
            font-size: 1.1rem;
            font-family: "Quicksand", sans-serif;
            font-weight: bold;
            padding: 15px 0;
            color: #4C4D4C;
        }

        .linkStyle {
            text-decoration: none;
            padding: 0;
            margin: 0;
            width: 250px;
            display: block;
        }

        .divButton {
            width: 180px;

            @media (max-width: 390px) {
                width: 120px;
            }

            &:hover {
                .pAssistirAgora {
                    animation: pulsate 0.6s ease-out infinite;
                }
            }
        }

        .button {
            color: #D42428;
            padding: 0 36px;
            font-family: "Bebas Neue", sans-serif;
            font-size: 36px;
            display: flex;
            letter-spacing: 2px;
            gap: 6px;
            font-weight: bold;
            align-items: center;
            border: 2px solid black;

            .imgBtn {
                width: 20px;
                margin: 0 0 0 30px;
                padding: 0;
                filter: brightness(0) saturate(100%) invert(77%) sepia(66%) saturate(332%) hue-rotate(344deg) brightness(90%) contrast(93%);
            }

            &:hover {
                transform: scale(1.1);
                transition: transform 0.3s ease-in-out;
                background-color: #deb66b;
                border: none;
                font-weight: bolder;
            }
        }

        .pAssistirAgora {
            font-family: "Chewy", system-ui;
            text-align: left;
            margin-bottom: 5px;
            font-size: 22px;

            .redoAssistirAgora {
                transform: scaleX(-1);
                rotate: 55deg;
            }
        }

        // Media queries específicas para ajustes responsivos
        @media (max-width: 951px) {
            .title {
                font-size: 5rem;
                text-overflow: wrap;
            }

            .description {
                width: 500px;
                font-size: 0.9rem;
            }
        }

        @media (max-width: 690px) {
            .title {
                font-size: 4rem;
                width: 95%;
                line-height: 65px;
            }

            .description {
                width: 95%;
                font-size: 0.8rem;
            }
        }

        @media (max-width: 400px) {
            .title {
                font-size: 3.5rem;
                width: 95%;
                line-height: 65px;
            }

            .description {
                width: 95%;
                font-size: 0.8rem;
            }
        }
    }

}