.containerStyle {
    padding-top: 40px;

    .title {
        font-size: 90px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: bold;
        line-height: 90px;
        width: 750px;
        color: #D42428;
        text-transform: uppercase;
        text-shadow: 3.5px 6px #7D7D7D;
    }

    .description {
        width: 600px;
        font-size: 20px;
        font-family: "Quicksand", sans-serif;
        font-weight: bold;
        padding: 15px 0px;
        color: #4C4D4C;

    }

    .linkStyle {
        text-decoration: none;
        padding: 0;
        margin: 0;
        width: 250px;
        display: block;
    }

    .button {
        color: black;
        padding: 6px 12px;
        width: 285px;
        margin-top: 20px;
        font-size: 23px;
        display: flex;
        align-items: center;
        font-weight: bold;
        border: 2px solid black;
        .imgBtn {
            width: 20px;
            margin: 0 0 0 30px;
            padding: 0;
            filter: brightness(0) saturate(100%) invert(77%) sepia(66%) saturate(332%) hue-rotate(344deg) brightness(90%) contrast(93%);
        }

        &:hover {
            font-size: 25px;
            background-color: #deb66b;
            color: black;
            border: none;
            transition: 0.4s;
            font-weight: bolder;

            .imgBtn {
                filter: invert(0%) sepia(92%) saturate(31%) hue-rotate(76deg) brightness(91%) contrast(306%);
            }

            transition: 0.4;
        }
    }
}

@media (max-width: 991px) {
    .containerStyle {
        .title {
            width: 400px;
        }

    }

}

@media (max-width: 767px) {
    .containerStyle {
        position: absolute;
        left: 30px;
        width: 95%;

        .description {
            width: 95%;
            font-size: 20px;
        }

        .title {
            width: 400px;
        }

    }
}

@media (max-width: 570px) {
    .containerStyle {
        left: 10px;
        .description {
            font-size: 18px;
            width: 450px;
        }

        .title {
            font-size: 80px;
        }

        .button {
            font-size: 18px;
            width: 200px;
        }
    }
}

@media (max-width: 501px) {
    .containerStyle {
        .description {
            width: 95%;
        }

        .title {
            width: 95%;
        }

    }
}

@media (max-width: 407px) {
    .containerStyle {
        .description {
            font-size: 16px;
        }

        .title {
            font-size: 70px;
        }
    }
}

@media (max-width: 314px) {
    .containerStyle {
        .title {
            font-size: 60px;
            line-height: 55px;
        }
    }
}