.episodeCard {
    width: 300px;
    display: flex;
    padding: 0px 0px 15px 0px;
    align-items: center;
    gap: 15px;
    &:hover{
        color: #DEB66B;
        .emptyDiv{
            background-color: #DEB66B;
            border: none;
        }
        cursor: pointer;
    }
}
.emptyDiv{
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 1.5px solid rgb(87, 87, 87);
    border-radius: 50%;
    margin-right: 10px;
}
.episodeTitle {
    font-size: 18px;
    font-weight: bold;
}

