.episodeTitle {
    font-size: 18px;
    font-weight: bold;
}

.ul{
    list-style-type: circle;

    width: 300px;
    display: flex;
    margin-left: 20px;
    padding: 0px 0px 8px 0px;
    align-items: center;
    &:hover{
        color: #DEB66B;
        cursor: pointer;
            list-style-type: disc;
    }
}

.ul_watched{
    @extend .ul;
    list-style-type: disc;
    color: #DEB66B;
    &:hover {
        color: #967b4a;

    }
}