.noSearchText {
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding-top: 50px;
    color: black;
}
.main {
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    margin-left: 0;
    width: 100%;

    .mainContent {
        padding: 20px 0px;
    }
    &.menuOpen {
        margin-left: 250px; // Largura do menu
        width: calc(100% - 250px); // Ajuste a largura restante
    }
}
.form {
    display: flex;
    align-items: center;
    position: relative;
}
.searchbar{
    width: 750px;
    height: 45px;
    border: none;
    border-radius: 20px;
}
.searchIcon{
    position: absolute;
    bottom: 5.5px;
    right: 14px;
    cursor: pointer;
    &:hover {
        background-color: #ccccccbd;
        border-radius: 50%;
    }
}

@media(max-width: 613px) {
    .noSearchText {
        font-size: 95%;
    }
}