.divPai{
    display: flex;
    gap: 12px;
}
.divFiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;

    .file {
        background-color: #DEB66B;
        padding: 4px 14px;
        border-radius: 15px;
        box-shadow: -2px 4px #183153;
        border: 2px solid #183153;

        &:hover {
            opacity: 0.75;
            filter: brightness(80%);
            cursor: pointer;
        }
    }
}

.titulofile {
    font-weight: bold;
    text-align: center;
    margin: auto 0;
}