.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    flex-wrap: wrap;
    margin-top: 54px;
    min-height: 16vh;
}
.pFooter{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: black;
    
}

.media{
    padding: 12px;
}
.imgLogo{
    width: 122px;
    
}
.imgFooter{
    width: 42px;
    margin-right: 10px;
    box-shadow: 1px 0.5px rgb(116, 116, 116);
    border-radius: 50%;
    &:hover{
        scale: 108%;
        transition: 0.3s;
        transform: translateX(2px) translateY(-2px);

    }
}
@media (max-width: 353px){
    .footer{
        justify-content: center;
    }
}