.footer {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 0px 50px 0px;
    flex-wrap: wrap;
    margin-top: 54px;
    max-width: 1300px;

    @media (max-width: 965px) {
        width: 95%;

        .logo_div {
            .imgLogo {
                width: 160px;
            }

            padding: 18px;
            .logo_p {
                width: 95%;
            }
        }

        .quemsomos { 
            width: 280px;
            padding: 18px;
            .quemsomos_title {
                font-size: 1.5rem;
            }
        
            .quemsomos_p {
                font-size: 1.0rem;
            }
        }

        .contato {
            width: 280px;
            padding: 18px;
            .contato_info {
                font-size: 1rem;
            }
        
            .contato_title {
                font-size: 1.5rem;
            }
        }
    }

    @media (max-width: 856px) {

        .logo_div {
            .imgLogo {
                width: 130px;
            }
            padding: 12px;
            .logo_p {
                width: 80%;
            }
        }

        .quemsomos { 
            width: 220px;
            padding: 12px;
            .quemsomos_title {
                font-size: 1.2rem;
            }
        
            .quemsomos_p {
                font-size: 0.8rem;
            }
        }
        .contato {
            width: 250px;
            padding: 12px;
            .contato_info {
                font-size: 0.8rem;
            }
        
            .contato_title {
                width: 200px;
                font-size: 1.2rem;
            }
        }
    }

    @media (max-width: 747px) {

        .logo_div {
            width: 100%;
        }

        .quemsomos { 
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        
        .contato {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

.quemsomos {
    width: 330px;
    height: 200px;
    padding: 30px;

    .quemsomos_title {
        font-weight: bolder;
    }

    .quemsomos_p {
        font-weight: 500;
        padding: 20px 0px 0px 0px;
        width: 350px;
        line-height: 18px;
        font-size: 1.2rem;
    }

   
}

.contato {
    padding: 30px;
    width: 330px;
    height: 200px;

    .contato_info {
        display: flex;
        align-items: center;
        padding: 8px 0px 0px 0px;
        gap: 6px;
        font-size: 1.2rem; 
        text-decoration: none;

        .contato_info_p {
            font-weight: 500;
            color: black;
        }
    }

    .contato_title {
        font-weight: bolder;
    }
}
.logo_media {
    color: #FFD558;
}
.pFooter {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: black;
    padding: 10px;
    border-top: 2px solid #FFD558;

}

.media {
    padding: 12px;
}

.logo_div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo_p {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}

.imgLogo {
    width: 200px;
}

.imgFooter {
    width: 42px;
    margin-right: 10px;
    box-shadow: 1px 0.5px rgb(116, 116, 116);
    border-radius: 50%;
    &:hover {
        scale: 108%;
        transition: 0.3s;
        transform: translateX(2px) translateY(-2px);

    }
}

@media (max-width: 700px) {
.quemsomos {
    .quemsomos_p {
        width: 95%;
    }
}
}
@media (max-width: 353px) {
    .footer {
        justify-content: center;
    }
}